@font-face { font-family: NinjaNaruto; src: url('../fonts/njnaruto.ttf'); }

body {
  margin: 0;
  background-color: #021837;
}

img.map {
  display: block;
  width: 100%;
}

img.areas {
  display: block;
  width: 100%;
}

.map-holder {
  width: 100%;
  position: relative;
  display: flex;
}

div.left {
  flex: 58.85%;
}

div.right {
  flex: 41.15%;
}

@media screen and (max-width: 1130px) {
  .map-holder {
    display: block;
  }
  .map-holder div {
    width: 100%;
  }

  span.x {
    font-size: 5vw;
  }
}

@media screen and (max-width: 800px) {
  span.x {
    font-size: 6vw;
  }
}

@media screen and (max-width: 500px) {
  span.x {
    font-size: 7vw;
  }
}

.x {
  display:  none;
  color: #01aefd;
  position: absolute;
  font-size: 3.4vw;
  font-family: NinjaNaruto;
}